div.header{
    background-color: rgb(0, 0, 0);
}
h1{
    color: floralwhite;
}
div{
    background-color: #333;
    overflow: hidden;
    

}
body{
    background-color: dimgray;
}
h3{
    background-color: aliceblue;
    size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div.nam{
    background-color:dimgrey;
    
}